<app-header></app-header>
<div class="container">
    <div class="text-center bg">
      <h1 >About Us</h1>
    
    </div>
  
    <div class="main-content">
      <div class="left-content">
        <h3 style="margin-bottom: 10px;">Our Company</h3>
        <table>
          <tr>
              <td>Lakhs of Families served and more</td>
          </tr>
        <tr>
            <td>we have marketing intermediaries To guide </td>
        </tr>
        <tr>
            <td>Rs 10 lakh crore And more is the loan book</td>
        </tr>
        <tr>
            <td> marketing offices Including  abroad</td>
        </tr>
        <tr>
          <td>Online approvals Through our website </td>
      </tr>
      <tr>
          <td> lakh crore And more cumulative disbursement since inception</td>
      </tr>
      <tr>
          <td>Over the years widened our reach so as to be as close as possible to our customers</td>
      </tr>
      
        </table>
      </div>
      <div class="right-content">
        <div>
        <h3 style="margin-bottom: 10px;">Contact</h3>
        <p style="font-size: 20px"> Ashok nagar new delhi 110001<br></p>
      </div>
      <table>
      <tr>
        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 0px 0 0;"></i><span style="font-size: 20px">+91 9876543210</span></td>
      </tr>
    <tr>
    <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">insurance@gmail.com</span></td>
    </tr>
     <tr>
        <td class="d-flex"><i class="fa fa-star checked" style="margin: 5px 10px 0 0;"></i><span style="font-size: 20px">www.policyinsurance.com</span></td>
      </tr>
      </table>
      </div>
    </div>
  </div>