<nav>
    <h2>Welcome admin</h2>
    <div class="nav_items">
    <li><a routerLink="/adminhome" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/addpolicies" routerLinkActive="active">Add Policies</a></li>
    <li><a routerLink="/viewpolicies" routerLinkActive="active">View Policies</a></li>
    <li><a routerLink="/customers" routerLinkActive="active">Requests</a></li>
    <li><a routerLink="/customerhistory" routerLinkActive="active">History</a></li>
    <li><a href="">Logout</a></li>
  </div>
  </nav>