*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: poppins;
}
.bg{
  height: 55vh;
  margin: 0;
  background-image: linear-gradient(to right, #0057AD , #8BACD7);
  padding: 5rem 20rem; 
  position: relative;
  color: #fff;
}

.main-content{
  background: #fff;
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  min-width: 70vw;
  display: flex;
}
.right-content{
  padding: 20px 35px;
  background: #DFEDF9;
  width: 40%;
}
.left-content{
  background: white;
  width: 60%;
  padding: 20px 25px;
}
table{
  width: 100%;
}
input{
  height: 30px;
  width: 95%;
  padding-left: 10px;
}
textarea{
  width: 97.5%;
  padding: 10px;
}
.border{
  border:1px solid #dee2e6 !important;
  border-radius: 5px;
}
.card{
  padding: 1rem;
  margin: 0.4rem;
}
button{
  padding: 10px 15px;
  border-radius: 20px;
  background: #0057AD;
  border: none;
  color: #fff;
  cursor: pointer;
}
ul{
  list-style: none;
  display: flex;
  padding: 15px 0;
  cursor: pointer;
}
ul li{
  padding-right: 15px;
  color: #8BACD7;
  font-size: 25px;
}
.text-center{
  text-align: center !important;
}
.d-flex{
  display: flex;
  padding: 7px 0px;
}
h3{
  color: #8BACD7;
}
.fas,label{
  color: #262626;
  font-size: 15px;
}
span{
  color: #262626;
  font-size: 14px;
}

