/* You can add global styles to this file, and also import other style files */
body{
    background:url(https://cdn.vectorstock.com/i/thumb-large/95/03/2089503.jpg);
    background-size:cover;
    background-position:relative;
}
